.places {
  list-style: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.petshop-infos span {
  font-size: 12px;
  color: #626264;
}

.petshop-infos .mdi-star {
  color: #facd5d;
}

.badge-success {
  background-color: #00d1b2;
}
