.product-card {
  width: 210px;
  margin-bottom: 50px;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  display: block;
}

.add-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #00d1a0;
  border: none;
  color: white;
  font-size: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.product-card .badge {
  background-color: #00d1a0;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.product-card small {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: #000;
  line-height: 1.2;
}
